.google-map {
  height: 50%;
  width: 80%;
  display: flex;
  // flex-direction: column-reverse;
  
  .map-info-window {
    text-decoration: none;
    transition-duration: .2s;
  }

  .map-info-window:hover {
    color: #333;
  }
}